# Data types in python

In [4]:
a=5
b=10
type(a)
type(b)
print(a+b)

15

# float data type

In [5]:
a=5.5
b=12
print(a+b)

17.5

In [51]:
s="my name is nitish"

In [7]:
type(s)

str

In [8]:
print(s)

my name is nitish.I am a machine learning Enthuasist

# slicing in python

In [22]:
s[0:7:2]

'm ae'

In [11]:
s[4:10]

'ame is'

In [30]:
s[0::3]

'mnesis'

# Python Data structures

# 1)list
2)Dictionary
3)set

In [46]:
l=[1,2,3,'ml']

In [47]:
##it helps in appending the character in the list 
l.append(4)

In [48]:
print(l)

[1, 2, 3, 'ml', 4]

In [37]:
#print out the total no of characters
print(len(l))

5

In [49]:
l.extend([4,5,6])
print(l)

[1, 2, 3, 'ml', 4, 4, 5, 6]

In [50]:
l.append([4,5,6])
print(l)

[1, 2, 3, 'ml', 4, 4, 5, 6, [4, 5, 6]]

In [92]:
l=['My', 'favourite', 'cricket', 'player', 'is', 'm.s.', 'Dhoni']
d=str(l)

In [52]:
##typecasting string to list
converted_list=list(s)
print(converted_list)

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'n', 'i', 't', 'i', 's', 'h']

In [53]:
##converting string to list on space
s.split()

['my', 'name', 'is', 'nitish']

In [87]:
s='My favourite cricket player is m.s. Dhoni'
b=s.split(' ')

In [88]:
print(b)

['My', 'favourite', 'cricket', 'player', 'is', 'm.s.', 'Dhoni']

In [89]:
##list to string
s=','.join(b)

In [90]:
print(s)

My,favourite,cricket,player,is,m.s.,Dhoni

In [85]:
print(s)

My favourite cricket player is werq m.s. Dhoni

# list comphrension

In [97]:
for i in range(1,11,3):
    print(i)

1
4
7
10

In [100]:
a=2
if a>3:
    print("yes it is fine")
elif a<3:
    print("No its not fine")
else:
    print("its good")

No its not fine

In [101]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [102]:
[i*i for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [109]:
[i for i in s]

['a', 'b', 'c', 'd']

In [112]:
s='abcd'+str(4)

In [115]:
'abcd'*4

'abcdabcdabcdabcd'

# function in python

In [119]:
def funct(n):
    if n%2==0:
        print('no is even')
    else:
        print('no is odd')

In [120]:
n=int(input())
funct(n)

5
no is odd

In [121]:
##inputing the list
n=input().split()

1 2 3 4 5 6

In [123]:
type(n)

list

In [163]:
def funct1(n,*args,**kwargs):
    print(n)
    for i in args:
        print(i)
    for key,value in kwargs.items():
        print('{} {}'.format(key,value))

In [161]:
print('{} {}'.format(5,4))

5 4

In [165]:
funct1('a','ef',b='b',c='c',d='d',e='e',f='f',g='g',h='h')

a
ef
b b
c c
d d
e e
f f
g g
h h

# Data structures tuple and dictionary and set

In [137]:
t=(1,2,3)

In [138]:
for i in t:
    print(i)

1
2
3

In [156]:
thisdict={
    "kohli":145,
    "dhoni":183,
    "Rohit":[234,264]
    
}

In [157]:
for key,value in thisdict.items():
    print(key)
    print(value)

kohli
145
dhoni
183
Rohit
[234, 264]

In [159]:
list(thisdict.items())

[('kohli', 145), ('dhoni', 183), ('Rohit', [234, 264])]

In [151]:
print(thisdict)

{'kohli': 145, 'dhoni': 183, 'Rohit': [234, 264]}

In [145]:
list(thisdict.keys())

['kohli', 'dhoni', 'Rohit']

In [146]:
list(thisdict.values())

[145, 183, 234]

In [153]:
thisdict.get('kohli')

145

In [155]:
thisdict['Rohit'][0]

234

In [147]:
l=['kohli','dhoni','Rohit']
l1=[145, 183, 234]

In [149]:
dict(zip(l,l1))

{'kohli': 145, 'dhoni': 183, 'Rohit': 234}

In [134]:
list(t).append(4)

In [172]:
s='my name is nitish'
s[::-1]

'hsitin si eman ym'

In [166]:
s={1,2,3,3,3,3,3}
print(s)

{1, 2, 3}

In [167]:
s={'a','b','a','a'}

In [168]:
print(s)

{'a', 'b'}

In [179]:
def fact(n):
    pass

In [ ]:
 *
***
****

In [180]:
##list functions
##set functions
##assignment

In [183]:
s=set()

In [184]:
for i in range(10):
    s.add(i)

In [185]:
print(s)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
##reverse a number